config =
  MASTER_HOST: "localhost" 
  MASTER_PORT: 33334 
  expectedLatency: 40 
  hitScript: "./bin/hitScript.sh"
  datastore: "/tmp/"
  from: "udplink"
  servers: 
  	serveralias1: "server1.example.com"
  	serveralias2: "server2.example.com"
  	localhost: "localhost"

module.exports = config


